{% extends "base.html" %}
{% load static %}

{% block title %}{{ category.name }} - News{% endblock %}

{% block content %}
<section class="py-20 bg-amma-white">
    <div class="container mx-auto px-4">
        <h1 class="text-4xl md:text-5xl font-secondary font-bold text-amma-black mb-6">{{ category.name }}</h1>
        <p class="text-xl text-amma-gray mb-12">{{ category.description }}</p>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            {% for article in articles %}
                {% if article.featured_image %}
                    {% include 'components/_card.html' with title=article.title image=article.featured_image.url excerpt=article.excerpt link=article.get_absolute_url category=article.category.name date=article.published_date author=article.author.full_name %}
                {% else %}
                    {% include 'components/_card.html' with title=article.title image='' excerpt=article.excerpt link=article.get_absolute_url category=article.category.name date=article.published_date author=article.author.full_name %}
                {% endif %}
            {% empty %}
                <div class="col-span-3 text-center py-12">
                    <p class="text-amma-gray">No articles in this category yet.</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
